*{margin: 0;padding: 0;box-sizing: border-box;}
:root{--buttonC:hsl(158, 36%, 37%);--fondoC:hsl(30, 38%, 92%);--tituloC:hsl(212, 21%, 14%);--subtC:hsl(228, 12%, 48%);}
body{background: var(--fondoC);}
main{
    width: 80%;
    height: auto;
    margin:  auto;
    border-radius: 15px;
    padding-top: 35px;
}
.container{
    background: white;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.container-card{
    width: 100%;
    height: auto;
    margin: 0;padding: 0;
    background-image: url(/images/image-product-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 0 0 5px;
}
.container-texto{padding: 25px;}
.container-texto h1{
    width: 90%;
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 35px;
}
.text{
    font-family: 'Monserrat';
    font-size: 15px;
    font-weight: 700;
    color: var(--subtC);
}
.boton-card{
    background: var(--buttonC);
    width: 100%;
    height: 3.5em;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.boton-card img{
    padding: 5px 0;
    float: left;
    justify-items: center;
    place-content: center;
}
.boton-card h3{
    font-weight: 700;
    letter-spacing: 3px;
    float: left;
    padding: 3px 10px;
    margin-left: 10px;
    color: whitesmoke;
}
.boton-card:hover{
    background: hsl(158, 36%, 27%);
    cursor: pointer;
}
/* ---------------> Media Queryes <------------ */
@media(min-width:1200px) and (max-width:1800px){
    main{max-width: 80%;height: auto;}
    .container{max-width: 50%;height: auto;}
    .container-card{
        width: 100%;
        height: auto;
        background-image: url(/images/image-product-desktop.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 5px 0 0 5px;
    }
}

@media(min-width:876px) and (max-width:1024px){
    main{width: 100%;}
    .container{width: 70%;}
    .container-card{
        width: 100%;
        height: auto;
        background-image: url(/images/image-product-desktop.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 5px 0 0 5px;
    }
}
@media(min-width:576px) and (max-width:875px){
    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    .container{
        width: 70%; 
        margin: auto;
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr;
    }
    .container-card{
        width: 100%;
        height: auto;
        background-image: url(/images/image-product-desktop.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 5px 5px 0 0;
    }
    .container-texto{
        width: 90%;
        margin: auto;
        text-align: left;
        padding: 25px;
    }
    .text{
        font-family: 'Fraunces', serif;
        font-size: 22px;
        color: var(--subtC);
    }
    .boton-card img{width: 25px;}
    .boton-card h3{letter-spacing: 5px;color: var(--fondoC);}
}
@media(max-width:575px) and (min-width:276px) {
    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    .container{
        width: 95%; 
        margin: auto;
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr;
    }
    .container-card{
        width: 100%;
        height: auto;
        background-image: url(/images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 5px 5px 0 0;
    }
    .container-texto{width: 100%; margin: auto;}
    .text{
        font-size: 22px;
    }
}

/* <---------- End Media Query ------------->*/
